body {
  background-color: rgb(218, 224,237);
}

#flappy-bird-reborn {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
p {
  text-align: center;
  color: white;
}

a {
  color: #3caaff;
}